<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <img src="../assets/image.webp" class="logo" width="150">
    </mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of menu" mat-list-item [routerLink]="item.route" routerLinkActive="active" (click)="setName(item.name)"><mat-icon class="icon-size">{{item.icon}}</mat-icon> {{item.name}}</a>
    </mat-nav-list>
    <footer class="nav-footer">
      <i>
        <div><b>Version</b> 1.0.0</div>
        Framework Angular Application
      </i>
    </footer>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        class="menu-mobile">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{titleModule}}</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>